/* 
	CSS that is applied specific to the theme.
	This file is delivered for the "community" theme during installation of DNN Community Forums, 
	may be overwritten during upgrades, and should not be updated by site administrators.

	It can be overridden by declaring CSS in the the /custom/theme.css located in a theme-specific folder: 
     ~/DesktopModules/ActiveForums/themes/community/custom/theme.css 

    In addition, site administrators and designers are encouraged to develop and maintain additional themes 
    by copying ~/DesktopModules/ActiveForums/themes/community/* to another theme folder, such as ~/DesktopModules/ActiveForums/themes/mytheme/
	
    Community Forums's CSS Load order: 
    1) ~/DesktopModules/ActiveForums/module.css
    2) ~/DesktopModules/ActiveForums/themes/theme.css
    3) ~/DesktopModules/ActiveForums/themes/<currenttheme>/theme.css
    4) ~/DesktopModules/ActiveForums/themes/<currenttheme>/custom/theme.css 
    
    In addition, site administrators and designers are encouraged to develop and maintain additional themes 
    by copying ~/DesktopModules/ActiveForums/themes/community/* to another theme folder, such as ~/DesktopModules/ActiveForums/themes/mytheme/
*/


/* Additions for new community theme (Timo Breumelhof 20190621) */

.afcontainer {
    font-family: inherit;
    font-size: 1em
}

.activeForums {
    margin-bottom: 2em
}

    .activeForums .afdropdown,
    .activeForums .afcontainer,
    .activeForums .aftextbox,
    .activeForums .afgrid,
    .activeForums .afnormal,
    .activeForums blockquote {
        font-family: inherit;
        font-size: 1em
    }


    .activeForums ul.dnnAdminTabNav {
        height: 40px
    }

        .activeForums ul.dnnAdminTabNav li.ui-tabs-active a {
            background-color: #bf4044;
            text-shadow: none;
            padding: 10px 14px 9px
        }

    .activeForums h2.dnnFormSectionHead {
        margin-top: 1em;
        margin-bottom: .5em;
        border-bottom: 2px solid #bf4044;
        font-size: 1.7em;
        line-height: 1.5em;
        letter-spacing: normal
    }

    .activeForums .dnnLogHeader {
        background: #bf4044;
        color: #fff
    }

    .activeForums .dnnFormMessage {
        border-radius: 0;
        border: none;
        max-width: 100%
    }

    .activeForums .dnnForm .ui-corner-all {
        border-radius: 0
    }

    .activeForums ul.dnnAdminTabNav {
        border-bottom: solid 2px #bf4044;
        margin-top: .5em
    }

        .activeForums ul.dnnAdminTabNav li.ui-tabs-active a {
            margin-top: 0
        }

    .activeForums .LabelEditTextClass,
    .activeForums .fffas-select {
        color: #501b1d
    }

    .activeForums .tile-af {
        border-bottom: solid 2px #b3d7e6;
        padding: 1em
    }

        .activeForums .tile-af .ct-forumname {
            font-weight: bold;
            font-size: 2em;
            margin-bottom: .5em;
            display: block
        }

    .activeForums .Connect-SearchBarInput * {
        vertical-align: middle
    }

    .activeForums .Connect-SearchBarInput input {
        margin-right: 1em;
        width: 250px;
        padding: .36em .5em;
        font-size: 16px;
        color: #409bbf;
        border: solid 2px #136586;
        box-sizing: content-box
    }

    .activeForums .Connect-SearchBarInput a {
        margin: 0
    }

    .activeForums .fa-prev-next {
        margin-bottom: 1em;
        margin-top: .7em;
        padding-bottom: .7em;
        border-bottom: solid 2px #dcdcdc
    }

        .activeForums .fa-prev-next img {
            display: none
        }

        .activeForums .fa-prev-next a {
            color: #409bbf
        }

            .activeForums .fa-prev-next a:before {
                font-family: FontAwesome;
                font-size: 1.5em;
                line-height: 1.5em;
                background: #409bbf;
                display: inline-block;
                width: 1.5em;
                text-align: center;
                color: #fff
            }

            .activeForums .fa-prev-next a:after {
                font-family: FontAwesome;
                font-size: 1.5em;
                line-height: 1.5em;
                background: #409bbf;
                display: inline-block;
                width: 1.5em;
                text-align: center;
                color: #fff
            }

    .activeForums .fa-prev a:before {
        content: "\f104 ";
        margin-right: .5em
    }

    .activeForums .fa-next a:after {
        content: "\f105 ";
        margin-left: .5em
    }

    .activeForums .af-topic header {
        padding: 0;
        margin-bottom: .5em;
        border-bottom: solid 2px #dcdcdc
    }

        .activeForums .af-topic header h2 {
            margin: 0 0 .3em;
            font-size: 1.5em
        }

    .activeForums .af-topic .dnnPrimaryAction {
        margin-bottom: 0
    }

    .activeForums .af-crumb { 
        line-height: 2.5em
    }

    .activeForums .af-topic-controls {
        clear: both;
        padding: .7em 0
    }

        .activeForums .af-topic-controls .af-sort select {
            margin-left: .5em
        }

    .activeForums .af-topic-head {
        line-height: 40px;
        color: #000;
        font-weight: bold
    }

    .activeForums .af-topic-item {
        clear: both;
        margin: 0 0 2em
    }


        .activeForums .af-topic-item .af-topic > div {
            padding-top: 1em;
            padding-bottom: 1em;
            background: #f5f8f9
        }

            .activeForums .af-topic-item .af-topic > div:nth-child(1) {
                background: #e5edf0
            }

        .activeForums .af-topic-item .af-topic .af-topic-content-top,
        .activeForums .af-topic-item .af-topic .body {
            padding: 1em;
            border-bottom: solid 2px #e5edf0
        }

    .activeForums .af-topic > div {
        background-color: transparent
    }

        .activeForums .af-topic > div .body {
            padding: 1em;
            padding-bottom: 2em;
        }

        .activeForums .af-topic > div .signature {
            padding-top: .8em;
            padding-bottom: 1em;
            max-height: 10em;
            overflow: hidden
        }

            .activeForums .af-topic > div .signature * {
                font-size: 1em !important
            }

    .activeForums .af-topic-info > span {
        display: block
    }

        .activeForums .af-topic-info > span.af-user-avatar {
            padding: 1em 0
        }

    .activeForums .af-topic-info br:first-child {
        display: none
    }

    .activeForums .af-topic-info .af-avatar {
        max-width: 100%;
        height: auto !important;
        padding-top: .5em
    }

    .activeForums .af-user-edit {
        padding-top: .3em;
        text-align: right;
        margin-right: 1em
    }

    .activeForums .af-user-name span {
        display: inline-block;
        vertical-align: middle;
        line-height: 1.5em;
        padding-right: .3em
    }

    .activeForums .af-topic-content-top {
        padding-bottom: .7em;
        margin-bottom: .7em
    }

    .activeForums .af-topic-actions ul {
        list-style-type: none;
        padding: 0;
        margin: 0
    }

    .activeForums .af-topic-actions li {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: inline-block;
        margin-right: .5em;
        cursor: pointer
    }

@media only screen and (max-width:767px) {
    .activeForums .af-topic-info .af-user-avatar {
        position: absolute;
        right: 10px;
        top: 0
    }

    .activeForums .af-topic-content-top {
        padding: .7em;
        margin: .7em 0;
        border-top: solid 2px #bfd1d9
    }

        .activeForums .af-topic-content-top .af-topic-actions {
            padding-top: .5em
        }
}

@media only screen and (min-width:768px) {
    .activeForums .wrap-full-height {
        overflow: hidden
    }

    .activeForums .full-height {
        margin-bottom: -99999px;
        padding-bottom: 99999px
    }

    .activeForums .af-topic-content-top .af-topic-actions {
        text-align: right
    }

    .activeForums .af-topic-actions li {
        margin-left: .5em;
        margin-right: 0
    }
}

.activeForums .af-quickreply {
    padding: 2em 0;
    margin-top: 1em;
    border-top: solid 2px #b3d7e6
}

    .activeForums .af-quickreply table td {
        padding-right: .5em
    }

    .activeForums .af-quickreply .amtbwrapper {
        padding-top: 1em
    }



/* DNN Button Colours */
/* Color 1 */
/* Color 2 */
/* Color 3 */
/* Color 4 */
/* Color 5 */
/* Color 6 */
/* Grey */
/* DNN Input, Buttons & Tabs */
.DnnModule-ActiveForums .afeditor {
    background: #fff;
    border: none;
    font-size: 1em;
}

    .DnnModule-ActiveForums .afeditor * {
        font-size: inherit;
    }

    .DnnModule-ActiveForums .afeditor .cke_top {
        font-size: 12px;
    }

    .DnnModule-ActiveForums .afeditor table table[width="99%"] > tbody > tr:nth-child(1) > td {
        padding: 0.3em 0;
    }

    .DnnModule-ActiveForums .afeditor table table[width="99%"] tr:nth-child(2) .aftextbox[readonly] {
        border: none;
        padding: 0;
        background: transparent;
        color: #00a7ea;
        font-weight: bold;
    }

    .DnnModule-ActiveForums .afeditor .afcheckbox input {
        margin-right: 0.5em;
    }

    .DnnModule-ActiveForums .afeditor .amtbwrapper {
        height: auto;
    }

        .DnnModule-ActiveForums .afeditor .amtbwrapper > div {
            display: inline-block;
            max-width: 100% !important;
            padding-bottom: 1em;
        }

        .DnnModule-ActiveForums .afeditor .amtbwrapper .amimagebutton,
        .DnnModule-ActiveForums .afeditor .amtbwrapper .amimagebutton_over {
            border: none;
            margin: 0 0.5em 0;
        }

    .DnnModule-ActiveForums .afeditor .cke_wysiwyg_frame {
        font-family: sans serif;
    }

    .DnnModule-ActiveForums .afeditor .afsectionhd {
        background: #e0eff5;
        border: none !important;
        padding: 0.3em;
    }
/* DNN Community Forums */
.activeForums .aftoolbarpanel li {
    white-space: nowrap;
}

.activeForums .fa {
    font-size: 1.1em;
}

.afcontainer {
    font-family: inherit;
    font-size: 1em;
}

.activeForums {
    margin-bottom: 2em;
    /* Tabs */
    /* Forum > Search */
    /* Forums Topic */
    /* Topic info */
}

    .activeForums .afdropdown,
    .activeForums .afcontainer,
    .activeForums .aftextbox,
    .activeForums .afgrid,
    .activeForums .afnormal,
    .activeForums blockquote {
        font-family: inherit;
        font-size: 1em;
    }

    .activeForums ul.dnnAdminTabNav {
        height: 40px;
    }

        .activeForums ul.dnnAdminTabNav li.ui-tabs-active a {
            background-color: #bf4044;
            text-shadow: none;
            padding: 10px 14px 9px;
        }

    .activeForums h2.dnnFormSectionHead {
        margin-top: 1em;
        margin-bottom: 0.5em;
        border-bottom: 2px solid #bf4044;
        font-size: 1.7em;
        line-height: 1.5em;
        letter-spacing: normal;
    }

    .activeForums .dnnLogHeader {
        background: #bf4044;
        color: #fff;
    }

    .activeForums .dnnFormMessage {
        border-radius: 0;
        border: none;
        max-width: 100%;
    }

    .activeForums .dnnForm .ui-corner-all {
        border-radius: 0;
    }

    .activeForums ul.dnnAdminTabNav {
        border-bottom: solid 2px #bf4044;
        margin-top: 0.5em;
    }

        .activeForums ul.dnnAdminTabNav li.ui-tabs-active a {
            margin-top: 0;
        }

    .activeForums .LabelEditTextClass,
    .activeForums .fffas-select {
        color: #501b1d;
    }

    .activeForums .afcontainer > .afgrid {
        margin-bottom: 4em;
    }

    .activeForums .afgroupsection {
        margin: 2em 0;
        color: #000;
        text-align: left;
    }

        .activeForums .afgroupsection .afgroupsectiontitle {
            padding-left: 0;
            font-size: 1.3em;
        }

    .activeForums .aftopicsubtitle {
        padding-top: 1em;
    }

    .activeForums .af_lastpost {
        line-height: 170%;
    }

    .activeForums .afgrouprow {
        border-bottom: solid 1px #eeeeee;
    }

    .activeForums .afcontrolheader {
        font-size: 1em;
        padding-bottom: 0.5em;
        font-weight: normal;
    }

    .activeForums .afcrumb {
        font-size: 1em;
        padding-bottom: 1em;
    }

    .activeForums .afbuttonarea {
        margin-bottom: 1em;
    }

    .activeForums .afminisearch table td {
        vertical-align: middle;
    }

    .activeForums .afminisearch .afnormal {
        padding-right: 0.7em;
    }

    .activeForums .afminisearch .afnormal,
    .activeForums .afminisearch input {
        margin: 0;
    }

    .activeForums .aftb-search-popup input[type=text] {
        margin: 0.5em 0.5em 0.5em 0;
    }

    .activeForums .aftb-search-popup ::-webkit-input-placeholder {
        color: transparent;
    }

    .activeForums .aftb-search-popup ::-moz-placeholder {
        /* Firefox 19+ */
        color: transparent;
    }

    .activeForums .aftb-search-popup :-ms-input-placeholder {
        color: transparent;
    }

    .activeForums .aftb-search-popup :placeholder {
        color: transparent;
    }

    .activeForums .amtbwrapper > div {
        max-width: 100% !important;
    }

        .activeForums .amtbwrapper > div .amimagebutton,
        .activeForums .amtbwrapper > div .amimagebutton_over {
            width: 80px !important;
        }

    .activeForums ul.fa-rater {
        width: 100px;
    }

    .activeForums .tile-af {
        border-bottom: solid 2px #b3d7e6;
        padding: 1em;
    }

        .activeForums .tile-af .ct-forumname {
            font-weight: bold;
            font-size: 2em;
            margin-bottom: 0.5em;
            display: block;
        }

    .activeForums .Connect-SearchBarInput * {
        vertical-align: middle;
    }

    .activeForums .Connect-SearchBarInput input {
        margin-right: 1em;
        width: 250px;
        padding: 0.36em 0.5em;
        font-size: 16px;
        color: #409bbf;
        border: solid 2px #136586;
        box-sizing: content-box;
    }

    .activeForums .Connect-SearchBarInput a {
        margin: 0;
    }

    .activeForums .fa-prev-next {
        margin-bottom: 1em;
        margin-top: 0.7em;
        padding-bottom: 0.7em;
        border-bottom: solid 2px #dcdcdc;
        font-size: 0.85em;
    }

        .activeForums .fa-prev-next img {
            display: none;
        }

        .activeForums .fa-prev-next a {
            color: #007dcc;
        }

            .activeForums .fa-prev-next a:before {
                font-family: FontAwesome;
                font-size: 1.5em;
                line-height: 1.5em;
                background: #007dcc;
                display: inline-block;
                width: 1.5em;
                text-align: center;
                color: #ffffff;
            }

            .activeForums .fa-prev-next a:after {
                font-family: FontAwesome;
                font-size: 1.5em;
                line-height: 1.5em;
                background: #007dcc;
                display: inline-block;
                width: 1.5em;
                text-align: center;
                color: #ffffff;
            }

@media screen and (min-width: 768px) {
    .activeForums .fa-prev-next {
        font-size: 1em;
    }
}

.activeForums .fa-prev a:before {
    content: "\f104 ";
    margin-right: 0.5em;
}

.activeForums .fa-next a:after {
    content: "\f105 ";
    margin-left: 0.5em;
}

.activeForums .af-topic header {
    padding: 0;
    margin-bottom: 0.5em;
    border-bottom: solid 2px #dcdcdc;
}

    .activeForums .af-topic header h2 {
        margin: 0 0 0.3em;
        font-size: 1em;
    }

@media screen and (min-width: 786px) {
    .activeForums .af-topic header h2 {
        font-size: 1.5em;
    }
}

.activeForums .af-topic header h2 > div {
    display: inline-block;
    font-size: 0.6em;
    margin-right: 0.5em;
}

.activeForums .af-topic .dnnPrimaryAction {
    margin-bottom: 0;
}

.activeForums .af-topic i[class*=fa-thumbs] {
    font-size: 1.5em;
    cursor: pointer;
}

.activeForums .af-topic .fa-thumbs-up {
    color: #4d4d4d;
    padding: 1em;
}

.activeForums .af-topic .fa-thumbs-o-up {
    color: #409bbf;
    padding: 1em;
}

.activeForums .af-crumb {
    line-height: 2.5em;
}

.activeForums .af-topic-controls {
    clear: both;
    padding: 0.7em 0;
}

    .activeForums .af-topic-controls .af-sort select {
        margin-left: 0.5em;
    }

.activeForums .af-topic-head {
    line-height: 40px;
    color: #000000;
    font-weight: bold;
}

.activeForums .af-topic-item {
    clear: both;
    margin: 0 0 2em;
}

    .activeForums .af-topic-item .af-topic > div {
        padding-top: 1em;
        padding-bottom: 1em;
        background: #f5f8f9;
    }

        .activeForums .af-topic-item .af-topic > div:nth-child(1) {
            background: #e5edf0;
        }

    .activeForums .af-topic-item .af-topic .af-topic-content-top,
    .activeForums .af-topic-item .af-topic .body {
        border-bottom: solid 2px #e5edf0;
    }

.activeForums .af-topic img {
    max-width: 100%;
    height: auto !important;
}

.activeForums .af-topic > div {
    background-color: transparent;
}

@media screen and (min-width: 768px) {
    .activeForums .af-topic > div:first-child {
        max-width: 270px;
    }
}

.activeForums .af-topic > div .body {
    padding: 1em;
    padding-bottom: 2em;
}

.activeForums .af-topic > div .signature {
    padding-top: 0.8em;
    display: none;
}

    .activeForums .af-topic > div .signature * {
        font-size: 1em !important;
    }

    .activeForums .af-topic > div .signature img {
        max-width: 300px !important;
    }

@media screen and (min-width: 768px) {
    .activeForums .af-topic > div .signature {
        display: block;
    }
}

.activeForums .af-topic > div .col-6 {
    padding-top: 1em;
}

.activeForums .af-topic-info {
    font-size: 0.85em;
}

@media screen and (min-width: 768px) {
    .activeForums .af-topic-info {
        font-size: 1em;
    }
}

.activeForums .af-topic-info > span {
    display: block;
}

    .activeForums .af-topic-info > span.af-user-avatar {
        padding: 1em 0;
    }

.activeForums .af-topic-info br:first-child {
    display: none;
}

.activeForums .af-topic-info div.af-avatar {
    max-width: 100%;
    height: auto !important;
    text-align: left;
}

.activeForums .af-topic-info .af-user,
.activeForums .af-topic-info .af-avatar,
.activeForums .af-topic-info .af-profile-rank,
.activeForums .af-topic-info .af-profile-status {
    padding-bottom: 0.5em;
}

.activeForums .af-user-edit {
    padding-top: 0.3em;
    text-align: right;
    margin-right: 1em;
}

.activeForums .af-user-name span {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.5em;
    padding-right: 0.3em;
}

.activeForums .af-topic-content-top {
    padding-bottom: 0.7em;
    margin-bottom: 0.7em;
}

    .activeForums .af-topic-content-top i {
        font-size: 1em;
        color: #00a7ea;
        cursor: pointer;
    }

.activeForums .af-topic-actions ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.activeForums .af-topic-actions li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    margin-right: 0.5em;
    cursor: pointer;
}

@media only screen and (min-width: 992px) {
    .activeForums .af-avatar-profile,
    .activeForums .af-topic-content-top {
        font-size: 1em;
    }
}

@media only screen and (max-width: 767px) {
    .activeForums .af-topic-info .af-user-avatar {
        position: absolute;
        right: 10px;
        top: 0;
    }

    .activeForums .af-topic-content-top {
        padding: 0.7em 0;
        margin: 0;
    }

        .activeForums .af-topic-content-top .af-topic-actions {
            padding-top: 0.5em;
        }
}

@media only screen and (min-width: 768px) {
    .activeForums .af-topic-content {
        padding: 0 1em;
    }

    .activeForums .wrap-full-height {
        overflow: hidden;
    }

    .activeForums .full-height {
        margin-bottom: -99999px;
        padding-bottom: 99999px;
    }

    .activeForums .af-topic-actions li {
        margin-left: 0.5em;
        margin-right: 0;
    }
}

.activeForums .af-quickreply {
    padding: 2em 0 1em;
    margin-top: 1em;
    border-top: solid 2px #b3d7e6;
    border-bottom: solid 2px #b3d7e6;
}

    .activeForums .af-quickreply,
    .activeForums .af-quickreply * {
        font-size: 1em;
    }

        .activeForums .af-quickreply table td {
            padding-right: 0.5em;
            padding-left: 0;
        }

        .activeForums .af-quickreply .afcontrolheader {
            font-size: 1.2em;
            color: #1b4150;
            font-style: normal;
        }

        .activeForums .af-quickreply #groupQR > table > tbody > tr:first-child td:nth-child(-n+2) {
            display: none;
        }

        .activeForums .af-quickreply #groupQR #txtSubject {
            border: none;
            background: none;
            color: #00a7ea;
            font-weight: bold;
        }

        .activeForums .af-quickreply #groupQR .afButton {
            border-color: transparent;
            background: #ebebeb;
        }

            .activeForums .af-quickreply #groupQR .afButton:hover {
                background: #e0eff5;
            }

        .activeForums .af-quickreply #groupQR #txtBody {
            border-radius: 0;
            background: #fff;
        }

        .activeForums .af-quickreply .amtbwrapper {
            padding-top: 1em;
        }


/* smaller mobile experience */
@media screen and (max-device-width: 480px) {
    .activeForums {
        margin-bottom: 2em;
        font-size: x-small;
    }

        .activeForums .af-topic-item .af-topic .af-topic-content-top, .activeForums .af-topic-item .af-topic .body {
            border-bottom: solid 2px;
        }

        .activeForums .af-topic-info .af-avatar {
            text-align: left;
            height: 120px !important;
            width: 120px !important;
            padding-top: .5em;
        }

        .activeForums .af-topic-content-top {
            border-top: solid .25px;
        }

    .afcontainer h1, .aftopic h1 {
        font-size: 14px !important;
    }

    .activeForums * {
        line-height: 1em;
    }

    .aftoolbarpanel {
        font-size: x-small;
    }

    .activeForums .af-topic-item .af-topic > div {
        padding-top: 0em;
        padding-bottom: 0em;
    }

    .activeForums .af-topic-item .af-topic .af-topic-content-top, .activeForums .af-topic-item .af-topic .body {
        border-bottom: solid .5px;
    }

    .activeForums .af-topic-content-top {
        border-top: solid 1px;
    }

    .afcontainer h1, .aftopic h1 {
        font-size: 14px !important;
    }

    .aftopprofile {
        display: none;
    }

    .afbottomprofile {
        display: none;
    }

    .hidden-xs {
        display: none;
    }
}

.text-lg-right {
    float: right;
}

.af-postdate {
    text-align: right;
}
