.dcf-center-vertically {
  display: flex;
  align-items: center;
}
.dcf-table-100 {
  width: 100%;
}
.dcf-d-none {
  display: none;
}
.dcf-invisible {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
}
.dcf-d-none-mob {
  display: none;
}
@media screen and (min-width: 768px) {
  .dcf-d-none-mob {
    display: initial;
  }
}
.dnn-community-forums .afeditor {
  background: #fff;
  border: none;
  font-size: 1em;
}
.dnn-community-forums .afeditor * {
  font-size: inherit;
}
.dnn-community-forums .afeditor > table td {
  padding: 0.5rem 0;
}
.dnn-community-forums .afeditor .cke_top {
  font-size: 12px;
}
.dnn-community-forums .afeditor table table[width="99%"] > tbody > tr:nth-child(1) > td {
  padding: 0.3em 0;
}
.dnn-community-forums .afeditor table table[width="99%"] tr:nth-child(2) .aftextbox[readonly] {
  border: none;
  padding: 0;
  background: transparent;
  font-weight: bold;
}
.dnn-community-forums .afeditor input[type='checkbox'] {
  margin-right: 0.5rem;
}
.dnn-community-forums .afeditor .amtbwrapper > div {
  max-width: 100% !important;
  display: flex;
  justify-content: center;
}
.dnn-community-forums .afeditor .amtbwrapper > div .amimagebutton,
.dnn-community-forums .afeditor .amtbwrapper > div .amimagebutton_over {
  text-align: center;
  width: auto !important;
  height: auto !important;
  padding: 0.5rem;
  cursor: pointer;
}
.dnn-community-forums .afeditor .amtbwrapper > div .amimagebutton_over {
  opacity: 0.7;
}
.dnn-community-forums .afeditor .cke_wysiwyg_frame {
  font-family: sans serif;
}
.dnn-community-forums .afeditor .afsection {
  min-width: 100%;
  border-bottom: solid 1px #ccc;
}
.dnn-community-forums .afeditor .afsectionhd {
  border: none !important;
  padding: 0.3em;
}
.dnn-community-forums .dcf-topic-edit-subject input,
.dnn-community-forums .dcf-topic-edit-summary input {
  width: 95%;
}
.dnn-community-forums .dcf-cols {
  display: flex;
  flex-wrap: wrap;
}
.dnn-community-forums .dcf-cols .dcf-col-100 {
  width: 100%;
}
.dnn-community-forums .dcf-cols .dcf-col-50 {
  width: 50%;
}
.dnn-community-forums .dcf-cols .dcf-col-50-md {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .dnn-community-forums .dcf-cols .dcf-col-50-md {
    width: 50%;
  }
}
.dnn-community-forums .dcf-cols .dcf-col-25 {
  width: 100%;
}
@media screen and (min-width: 992px) {
  .dnn-community-forums .dcf-cols .dcf-col-25 {
    width: 25%;
    max-width: 250px;
  }
}
.dnn-community-forums .dcf-cols .dcf-col-75 {
  width: 100%;
  flex-grow: 1;
}
@media screen and (min-width: 992px) {
  .dnn-community-forums .dcf-cols .dcf-col-75 {
    width: 75%;
  }
}
.dnn-community-forums .dcf-breadcrumb {
  padding: 0.5rem;
  border-bottom: solid 1px #ccc;
}
.dnn-community-forums .dcf-breadcrumb .fa {
  color: #aaa;
}
.dnn-community-forums .dcf-breadcrumb a {
  color: #222;
}
.dnn-community-forums .dcf-collapsible .fa {
  color: #aaa;
}
.dnn-community-forums .dcf-subscribe-topic label {
  margin-left: 0.5em;
}
.dnn-community-forums .dcf-forum-subscribers,
.dnn-community-forums .dcf-subscribe-forum {
  margin-top: 0.25rem;
}
@media screen and (min-width: 768px) {
  .dnn-community-forums .dcf-forum-subscribers,
  .dnn-community-forums .dcf-subscribe-forum {
    text-align: right;
  }
}
.dnn-community-forums .dcf-link-text {
  display: none;
  margin-left: 0.25rem;
}
@media screen and (min-width: 992px) {
  .dnn-community-forums .dcf-link-text {
    display: inline;
  }
}
.dnn-community-forums .dcf-actions {
  padding: 1rem 0;
}
.dnn-community-forums .dcf-actions-top {
  display: flex;
  flex-wrap: wrap;
}
.dnn-community-forums .dcf-actions-top .dcf-forum-title {
  flex-grow: 1;
}
.dnn-community-forums .dcf-actions-bottom {
  display: flex;
  flex-wrap: wrap;
}
.dnn-community-forums .dcf-actions-bottom .dcf-action-add {
  flex-grow: 1;
}
.dnn-community-forums .dcf-actions-bottom .amaf-chk-subs {
  margin-right: 0.5rem;
}
.dnn-community-forums .dcf-actions .dcf-forum-search {
  display: flex;
  justify-content: end;
}
.dnn-community-forums .dcf-actions .dcf-forum-search span {
  margin-right: 0.5rem;
}
.dnn-community-forums .afpager td {
  padding: 0.5rem;
}
.dnn-community-forums .afpager .af_pager {
  padding: 0.5rem;
}
.dnn-community-forums .af-search-recordCount {
  display: block;
  padding-top: 0.5rem;
}
.dnn-community-forums .dcf-table .dcf-table-head-row {
  border-bottom: solid 1px #ccc;
}
.dnn-community-forums .dcf-table .dcf-th,
.dnn-community-forums .dcf-table .dcf-col {
  padding: 1rem 0.5rem;
}
.dnn-community-forums .dcf-table .dcf-th {
  text-align: left;
  font-weight: normal;
}
.dnn-community-forums .dcf-table .dcf-th.dcf-forum-icon-text {
  padding-right: 0;
}
.dnn-community-forums .dcf-table .dcf-table-body-row .dcf-col {
  vertical-align: top;
  border-bottom: solid 1px #ccc;
}
.dnn-community-forums .dcf-table .dcf-table-body-row .dcf-col-number,
.dnn-community-forums .dcf-table .dcf-table-body-row .dcf-col-replies,
.dnn-community-forums .dcf-table .dcf-table-body-row .dcf-col-views,
.dnn-community-forums .dcf-table .dcf-table-body-row .dcf-col-ratings,
.dnn-community-forums .dcf-table .dcf-table-body-row .dcf-col-status,
.dnn-community-forums .dcf-table .dcf-table-body-row .dcf-col-subscribers {
  text-align: center;
  width: 0;
}
.dnn-community-forums .dcf-table .dcf-table-body-row .dcf-col-icon {
  width: 0;
}
.dnn-community-forums .dcf-table .dcf-table-body-row .dcf-col-text,
.dnn-community-forums .dcf-table .dcf-table-body-row .dcf-col-subject {
  width: 80%;
}
@media screen and (min-width: 768px) {
  .dnn-community-forums .dcf-table .dcf-table-body-row .dcf-col-text,
  .dnn-community-forums .dcf-table .dcf-table-body-row .dcf-col-subject {
    width: 60%;
  }
}
.dnn-community-forums .dcf-table .dcf-icon-text {
  white-space: nowrap;
}
.dnn-community-forums .dcf-table .dcf-icon-text .dcf-link-text {
  margin-left: 0.3em;
}
.dnn-community-forums .dcf-table .dcf-forum-description {
  display: block;
  padding-top: 1em;
  font-size: 0.9em;
}
.dnn-community-forums .dcf-table .dcf-forum-description .fa {
  display: none;
}
.dnn-community-forums .dcf-table .dcf-forum-description:empty {
  padding-top: 0;
}
.dnn-community-forums .dcf-table .dcf-col-icon {
  font-size: 0.7em;
}
.dnn-community-forums .dcf-table .dcf-col-icon > div {
  margin: 0 !important;
  height: auto;
}
.dnn-community-forums .dcf-table .dcf-col-icon .fa {
  padding-top: 0.1em;
}
.dnn-community-forums .dcf-table .dcf-topic-started {
  padding: 0.5rem 0;
}
.dnn-community-forums .dcf-table .dcf-col-icon > div {
  display: none;
}
@media screen and (min-width: 768px) {
  .dnn-community-forums .dcf-table .dcf-col-icon > div {
    display: block;
  }
}
.dnn-community-forums .dcf-table .dcf-col-last-post {
  display: none;
}
@media screen and (min-width: 768px) {
  .dnn-community-forums .dcf-table .dcf-col-last-post {
    display: table-cell;
  }
}
.dnn-community-forums .dcf-toolbar > ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.dnn-community-forums .dcf-toolbar li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.dnn-community-forums .dcf-toolbars {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem 0;
  border-bottom: solid 1px #ccc;
}
.dnn-community-forums .dcf-toolbars .dcf-toolbar-user {
  flex-grow: 1;
  padding-bottom: 0.5rem;
}
@media screen and (min-width: 768px) {
  .dnn-community-forums .dcf-toolbars .dcf-toolbar-manage {
    justify-content: end;
  }
}
.dnn-community-forums .dcf-toolbars .dcf-quick-search {
  position: relative;
  display: block;
}
.dnn-community-forums .dcf-toolbars .dcf-quick-search .dcf-search-link {
  display: block;
  text-align: right;
  cursor: pointer;
}
.dnn-community-forums .dcf-toolbars .dcf-quick-search .dcf-search-popup {
  background: white;
  border: solid 1px #eee;
  padding: 1rem;
  display: none;
  position: absolute;
  min-width: 300px;
  right: 0;
  left: auto !important;
  top: 2.5em;
}
.dnn-community-forums .dcf-toolbars .dcf-quick-search .dcf-search-input {
  display: flex;
}
.dnn-community-forums .dcf-toolbars .dcf-quick-search .dcf-search-input .dcf-search-input {
  border: solid 1px #bbb;
  flex-grow: 1;
  padding: 0 0.5rem;
}
.dnn-community-forums .dcf-toolbars .dcf-quick-search .dcf-search-input .dcf-search-button {
  border: none;
  margin-left: 0.25rem;
  padding: 0 0.5rem;
}
.dnn-community-forums .dcf-toolbars .dcf-quick-search .dcf-search-options .dcf-search-option-advanced {
  display: block;
  width: 100%;
  padding: 0.5rem 0;
}
.dnn-community-forums .dcf-toolbars .dcf-quick-search .dcf-search-options .dcf-search-option-topics {
  margin-right: 1rem;
}
.dnn-community-forums .dcf-toolbars .dcf-quick-search .dcf-search-options .dcf-search-option-text {
  margin-left: 0.25rem;
}
.dnn-community-forums .dcf-group-title-wrap {
  display: flex;
  align-items: center;
  border-bottom: solid 1px #eee;
  padding: 1rem 0;
}
.dnn-community-forums .dcf-group-title-wrap .dcf-group-title {
  font-size: 1.4em;
  color: black;
  text-rowansform: uppercase;
  margin: 0;
  flex-grow: 1;
}
.dnn-community-forums .dcf-group-title-wrap .dcf-group-collapse {
  cursor: pointer;
}
.dnn-community-forums .dcf-forum-view .dcf-forums-group {
  margin-bottom: 1rem;
  padding: 1rem 0;
}
.dnn-community-forums .dcf-forum-view .dcf-forums-group .dcf-forum-title {
  margin: 0;
  font-size: 1.2em;
}
.dnn-community-forums .dcf-forum-view .dcf-forums-group .dcf-main-forums .dcf-col-text-inner {
  display: flex;
}
.dnn-community-forums .dcf-forum-view .dcf-forums-group .dcf-lastpost-subject {
  display: block;
}
.dnn-community-forums .dcf-forum-view .dcf-forums-group .dcf-sub-forums .dcf-col-icon {
  border: none;
}
.dnn-community-forums .dcf-forum-view .dcf-forums-group .dcf-sub-forums .dcf-sub-forum-title {
  font-size: 1.1em;
  margin: 0;
  color: black;
}
.dnn-community-forums .dcf-topics-view .dcf-forum-title {
  margin-top: 0;
  font-size: 1.2em;
  flex-grow: 1;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .dnn-community-forums .dcf-topics-view .dcf-forum-title {
    width: auto;
  }
}
.dnn-community-forums .dcf-topics-view .dcf-forum-search-subscribe .dcf-forum-search {
  padding-bottom: 1rem;
}
.dnn-community-forums .dcf-topics-view .dcf-forum-search-subscribe .dcf-subscribe-forum .amaf-chk-subs {
  margin: 0 0.5rem 0 0.25rem;
}
.dnn-community-forums .dcf-topics-view .dcf-topic-title {
  margin: 0;
  font-size: 1.1em;
}
.dnn-community-forums .dcf-topics-view .dcf-table-head-row .dcf-col-title {
  width: 100%;
}
.dnn-community-forums .dcf-topics-view .dcf-table-head-row .dcf-col-title .dcf-title {
  margin: 0;
  font-size: 1.1em;
}
.dnn-community-forums .dcf-topics-view .dcf-topics {
  padding-bottom: 3em;
}
.dnn-community-forums .dcf-topics-view .dcf-topics:empty {
  padding-bottom: 0;
}
.dnn-community-forums .dcf-topics-view .dcf-topics .dcf-col-icon {
  padding-top: 1.9em;
}
.dnn-community-forums .dcf-topics-view .dcf-topics .dcf-col-subject {
  width: 100%;
}
.dnn-community-forums .dcf-topics-view .dcf-topics .dcf-actions-top {
  display: flex;
  justify-content: flex-end;
}
.dnn-community-forums .dcf-topics-view .dcf-topics .dcf-subject .afpagermini {
  padding: 0.5rem 0;
  display: inline-flex;
  align-items: center;
}
.dnn-community-forums .dcf-topics-view .dcf-topics .dcf-subject .afpagermini a {
  margin-left: 0.5rem;
}
.dnn-community-forums .dcf-topics-view .dcf-topics .dcf-subject .dcf-title {
  margin: 0 0 0.5rem;
}
.dnn-community-forums .dcf-topics-view .dcf-topics .dcf-subject .dcf-topic-description {
  margin-bottom: 1rem;
  max-height: 7.5em;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dnn-community-forums .dcf-topics-view .dcf-topics .dcf-subject .dcf-topic-tools {
  display: flex;
  align-items: center;
}
.dnn-community-forums .dcf-topics-view .dcf-topics .dcf-subject .dcf-topic-tools a {
  margin-right: 0.5rem;
}
.dnn-community-forums .dcf-topics-view .dcf-topics .dcf-subject .dcf-topic-description,
.dnn-community-forums .dcf-topics-view .dcf-topics .dcf-subject .afpagermini {
  display: none;
}
@media screen and (min-width: 992px) {
  .dnn-community-forums .dcf-topics-view .dcf-topics .dcf-subject .dcf-topic-description,
  .dnn-community-forums .dcf-topics-view .dcf-topics .dcf-subject .afpagermini {
    display: block;
  }
}
.dnn-community-forums .dcf-topics-view .dcf-topics .dcf-last-post {
  white-space: nowrap;
}
.dnn-community-forums .dcf-topics-view .dcf-topics .dcf-last-post a {
  display: block;
}
.dnn-community-forums .dcf-topics-view .dcf-topics .dcf-last-post br {
  display: none;
}
.dnn-community-forums .dcf-topics-view .dcf-topics .dcf-actions-bottom {
  display: flex;
}
.dnn-community-forums .dcf-topics-view .dcf-topics .dcf-actions-bottom .dcf-buttons {
  flex-grow: 1;
}
.dnn-community-forums .dcf-topic-view {
  /* Forums previous and next Topic */
}
.dnn-community-forums .dcf-topic-view .dcf-title-1 {
  font-size: 1.4em;
  padding: 0.5rem 0;
  margin: 0;
  display: flex;
  align-items: center;
}
.dnn-community-forums .dcf-topic-view .dcf-title-1 .fa {
  margin-right: 0.5rem;
}
.dnn-community-forums .dcf-topic-view .dcf-prev-next {
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: solid 1px #ccc;
  border-style: dashed;
}
.dnn-community-forums .dcf-topic-view .dcf-prev-next a {
  color: #222;
}
.dnn-community-forums .dcf-topic-view .dcf-prev-next a .fa {
  margin: 0 0.5em;
}
.dnn-community-forums .dcf-topic-view .dcf-header-content {
  padding-top: 1rem;
}
.dnn-community-forums .dcf-topic-view .dcf-header-content .dcf-topic-buttons {
  padding-top: 1rem;
}
.dnn-community-forums .dcf-topic-view .dcf-header-content .dcf-topic-controls {
  margin-top: 0.5rem;
}
@media screen and (min-width: 768px) {
  .dnn-community-forums .dcf-topic-view .dcf-header-content .dcf-topic-controls {
    text-align: right;
  }
}
.dnn-community-forums .dcf-topic-view .dcf-header-content .dcf-topic-controls .dcf-sort {
  display: inline-block;
  padding-bottom: 0.5rem;
}
.dnn-community-forums .dcf-topic-view .dcf-header-content .dcf-topic-controls .dcf-sort select {
  margin-left: 0.5em;
}
.dnn-community-forums .dcf-topic-view .dcf-header-content .dcf-topic-controls .dcf-subscribe-topic {
  padding-bottom: 1rem;
}
.dnn-community-forums .dcf-topic-view .dcf-header-content .dcf-topic-controls .dcf-subscribe-topic label {
  margin-bottom: 0;
}
.dnn-community-forums .dcf-topic-view .dcf-pager {
  padding: 0.3em 0;
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}
.dnn-community-forums .dcf-topic-view .dcf-tools {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.dnn-community-forums .dcf-topic-view .dcf-tools .dnnPrimaryAction {
  margin-bottom: 0;
}
.dnn-community-forums .dcf-topic-view .dcf-tools-top {
  padding-top: 0.5rem;
}
.dnn-community-forums .dcf-topic-view .dcf-tools-bottom {
  padding-bottom: 0.5rem;
}
.dnn-community-forums .dcf-topic-view .dcf-topic-headings {
  padding: 0.5rem;
  border-bottom: solid 1px #ccc;
  font-size: 1.1em;
  display: none;
}
@media screen and (min-width: 768px) {
  .dnn-community-forums .dcf-topic-view .dcf-topic-headings {
    display: flex;
  }
}
.dnn-community-forums .dcf-topic-view .dcf-topic-post {
  margin: 1.5rem 0 2rem;
}
.dnn-community-forums .dcf-topic-view .dcf-topic-post .dcf-topic-info {
  background: #f2f2f2;
  min-height: 100%;
  padding: 0.5rem;
}
@media screen and (min-width: 992px) {
  .dnn-community-forums .dcf-topic-view .dcf-topic-post .dcf-topic-info {
    padding: 1rem;
  }
}
.dnn-community-forums .dcf-topic-view .dcf-topic-post .dcf-topic-info .dcf-avatar {
  padding: 0.5rem;
}
@media screen and (min-width: 992px) {
  .dnn-community-forums .dcf-topic-view .dcf-topic-post .dcf-topic-info .dcf-avatar {
    padding: 1rem;
  }
}
.dnn-community-forums .dcf-topic-view .dcf-topic-post .dcf-topic-info .dcf-avatar-img-wrap {
  position: relative;
}
.dnn-community-forums .dcf-topic-view .dcf-topic-post .dcf-topic-info .dcf-avatar-img-wrap .dcf-avatar-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  overflow: hidden;
}
.dnn-community-forums .dcf-topic-view .dcf-topic-post .dcf-topic-info .dcf-avatar-img-wrap img {
  width: 100%;
  height: 100% !important;
  object-fit: cover;
}
.dnn-community-forums .dcf-topic-view .dcf-topic-post .dcf-topic-info .dcf-post-user-rank,
.dnn-community-forums .dcf-topic-view .dcf-topic-post .dcf-topic-info .dcf-post-user-data {
  display: none;
}
@media screen and (min-width: 992px) {
  .dnn-community-forums .dcf-topic-view .dcf-topic-post .dcf-topic-info .dcf-post-user-rank,
  .dnn-community-forums .dcf-topic-view .dcf-topic-post .dcf-topic-info .dcf-post-user-data {
    display: block;
  }
}
.dnn-community-forums .dcf-topic-view .dcf-topic-post .dcf-topic-info .dcf-post-user {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 992px) {
  .dnn-community-forums .dcf-topic-view .dcf-topic-post .dcf-topic-info .dcf-post-user {
    display: block;
  }
}
.dnn-community-forums .dcf-topic-view .dcf-topic-post .dcf-topic-info .dcf-post-user .dcf-user {
  order: 1;
}
.dnn-community-forums .dcf-topic-view .dcf-topic-post .dcf-topic-info .dcf-post-user .dcf-avatar-img-wrap {
  width: 50px;
  padding-top: 50px;
  margin: 0 0.5rem 0 0;
}
@media screen and (min-width: 992px) {
  .dnn-community-forums .dcf-topic-view .dcf-topic-post .dcf-topic-info .dcf-post-user .dcf-avatar-img-wrap {
    width: 100%;
    padding-top: 100%;
    margin: 1rem 0;
  }
}
.dnn-community-forums .dcf-topic-view .dcf-topic-post .dcf-topic-content {
  background: #fafafa;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.dnn-community-forums .dcf-topic-view .dcf-topic-post .dcf-toolbar li {
  cursor: pointer;
}
.dnn-community-forums .dcf-topic-view .dcf-topic-post .dcf-topic-content-top .dcf-postdate,
.dnn-community-forums .dcf-topic-view .dcf-topic-post .dcf-topic-content-top .dcf-topic-actions {
  padding: 0.5rem;
}
@media screen and (min-width: 992px) {
  .dnn-community-forums .dcf-topic-view .dcf-topic-post .dcf-topic-content-top .dcf-postdate,
  .dnn-community-forums .dcf-topic-view .dcf-topic-post .dcf-topic-content-top .dcf-topic-actions {
    padding: 1rem;
  }
}
.dnn-community-forums .dcf-topic-view .dcf-topic-post .dcf-topic-content-main {
  padding: 0.5rem;
  border-top: solid 1px #ccc;
  flex-grow: 1;
}
@media screen and (min-width: 992px) {
  .dnn-community-forums .dcf-topic-view .dcf-topic-post .dcf-topic-content-main {
    padding: 1rem;
  }
}
.dnn-community-forums .dcf-topic-view .dcf-topic-post .dcf-topic-content-main .dcf-post-body {
  padding-bottom: 1.5rem;
}
.dnn-community-forums .dcf-topic-view .dcf-topic-post .dcf-post-footer {
  border-top: solid 1px #ccc;
}
.dnn-community-forums .dcf-topic-view .dcf-topic-post .dcf-post-signature {
  margin: 1rem;
}
.dnn-community-forums .dcf-topic-view .dcf-topic-post .dcf-post-signature * {
  font-size: 1em !important;
  margin: 0 !important;
}
.dnn-community-forums .dcf-topic-view .dcf-topic-post .dcf-post-footer-bottom {
  margin: 1rem;
  align-items: center;
}
.dnn-community-forums .dcf-topic-view .dcf-topic-post .dcf-post-footer-bottom .dcf-post-likes {
  font-size: 0.8em;
}
.dnn-community-forums .dcf-quick-reply {
  padding: 1rem 0;
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
}
.dnn-community-forums .dcf-quick-reply .dcf-title {
  margin: 0;
}
.dnn-community-forums .dcf-quick-reply .dcf-title-4 {
  margin: 1rem 0 0.25rem;
}
.dnn-community-forums .dcf-quick-reply .dcf-quick-reply-header {
  margin: 1rem 0;
}
.dnn-community-forums .dcf-quick-reply .dcf-textbox {
  max-width: 100%;
  border: solid 1px #ccc;
}
.dnn-community-forums .dcf-quick-reply .dcf-toolbar-buttons .fa {
  padding: 0.5em 0.7em;
  cursor: pointer;
  color: #666;
}
.dnn-community-forums .dcf-quick-reply .dcf-toolbar-buttons .fa:hover {
  color: #000;
}
.dnn-community-forums .dcf-quick-reply .dcf-subscribe-topic {
  margin: 1em 0;
}
.dnn-community-forums .af-search-header .af-search-title {
  font-size: 1.4em;
}
.dnn-community-forums .af-search-bar .af-search-title {
  display: block;
  font-size: 1.4em;
  padding: 0.5rem 0;
  margin: 0;
}
.dnn-community-forums .af-search-results .afgrid .aftopicrow {
  vertical-align: top;
  padding: 1rem 0.5rem;
  border-bottom: solid 1px #ccc;
}
.dnn-community-forums .af-search-results .afgrid .aftopicrow .aftopictitle {
  display: block;
  padding-bottom: 0.5rem;
}
.dnn-community-forums .af-adv-search .af-adv-search-header .af-adv-search-title {
  display: block;
  font-size: 1.4em;
  padding: 0.5rem 0;
  margin: 0;
}
.dnn-community-forums .af-adv-search .af-adv-search-row,
.dnn-community-forums .af-adv-search .af-adv-search-footer {
  padding: 0.5rem 0;
  border-bottom: solid 1px #ccc;
}
.dnn-community-forums .af-adv-search .af-adv-search-row label,
.dnn-community-forums .af-adv-search .af-adv-search-footer label {
  min-width: 20em;
}

/*# sourceMappingURL=theme.css.map */
