<?xml version="1.0" encoding="utf-8" ?>
<configs>
  <mainsettings>
    <setting name="THEME" value="community-default" />
    <setting name="FORUMTEMPLATEID" value="0" />
    <setting name="PAGESIZE" value="20" /> 
    <setting name="DATEFORMATSTRING" value="dd MMM yyyy" />
    <setting name="TIMEFORMATSTRING" value="hh:mm tt" />
    <setting name="FLOODINTERVAL" value="0" />
    <setting name="LOGGINGLEVEL" value="0" />
    <setting name="EDITINTERVAL" value="0" />
    <setting name="DELETEBEHAVIOR" value="1" />
    <setting name="PROFILETYPE" value="1" />
    <setting name="USERNAMEDISPLAY" value="Displayname" />
    <setting name="MEMBERLISTMODE" value="ENABLED" />
    <setting name="ALLOWSIGNATURES" value="0" />
    <setting name="ALLOWSUBSCRIBE" value="true" />
    <setting name="ALLOWSUBTYPES" value="0:1:" />
    <setting name="ALLOWAVATARS" value="true" />
    <setting name="ALLOWAVATARLINKS" value="false" />
    <setting name="AVATARHEIGHT" value="250" />
    <setting name="AVATARWIDTH" value="250" />
    <setting name="AVATARREFRESH" value="GRAVATAR" />
    <setting name="ENABLEPOINTS" value="false" />
    <setting name="TOPICPOINTVALUE" value="1" />
    <setting name="REPLYPOINTVALUE" value="1" />
    <setting name="ANSWERPOINTVALUE" value="1" />
    <setting name="MODPOINTVALUE" value="1" />
    <setting name="MARKANSWERPOINTVALUE" value="1" />
    <setting name="PMTYPE" value="0" />
    <setting name="PMTABID" value="-1" />
    <setting name="STATSENABLED" value="false" />
    <setting name="STATSCACHE" value="5" />
    <setting name="USERSONLINEENABLED" value="true" />
    <setting name="PROFILEVISIBILITY" value="ENABLEDREG" />
    <setting name="SHORTURLS" value="true" />
      <setting name="REQCAPTCHA" value="true" />
      <setting name="USESKINBC" value="true" />
	  <setting name="AUTOLINK" value="true" />

  </mainsettings>
  <filters>
    <filter filterfile="~/DesktopModules/ActiveForums/config/Filters.txt" />
  </filters>
  <ranks>
    <rank rankid="-1" rankname="New Member" rankmin="0" rankmax="99" rankimage="DesktopModules/activeforums/Ranks/blue_square_01.gif" />
    <rank rankid="-1" rankname="Basic Member" rankmin="100" rankmax="499" rankimage="DesktopModules/activeforums/Ranks/blue_square_02.gif" />
    <rank rankid="-1" rankname="Advanced Member" rankmin="500" rankmax="999" rankimage="DesktopModules/activeforums/Ranks/blue_square_03.gif" />
    <rank rankid="-1" rankname="Veteran Member" rankmin="1000" rankmax="4999" rankimage="DesktopModules/activeforums/Ranks/blue_square_04.gif" />
    <rank rankid="-1" rankname="Senior Member" rankmin="5000" rankmax="10000" rankimage="DesktopModules/activeforums/Ranks/blue_square_05.gif" />
  </ranks>
  <badges>
    <badge badgeid="-1" name="New Member" description="You are a new member!" intervaldays="90" onetimeaward="1" badgemetric="1" threshold="0" fileid="-1" sortorder="5" imagemarkup="" image="~/DesktopModules/activeforums/images/badges/NewMember.png" />
    <badge badgeid="-1" name="New Poster" description="Congrats on posting!" intervaldays="0" onetimeaward="1" badgemetric="2" threshold="1" fileid="-1" sortorder="10" imagemarkup="" image="~/DesktopModules/activeforums/images/badges/NewPoster.png" />
    <badge badgeid="-1" name="Engaged Poster" description="Wow, you're on a roll!" intervaldays="90" onetimeaward="0" badgemetric="2" threshold="10" fileid="-1" sortorder="15" imagemarkup="" image="~/DesktopModules/activeforums/images/badges/EngagedPoster.png" />
    <badge badgeid="-1" name="Avid Poster" description="Seriously, you're a posting maniac!" intervaldays="30" onetimeaward="0" badgemetric="2" threshold="20" fileid="-1" sortorder="20" imagemarkup="" image="~/DesktopModules/activeforums/images/badges/AvidPoster.png" />
    <badge badgeid="-1" name="Helpful Replier" description="Thanks for being such a helpful replier!" intervaldays="30" onetimeaward="0" badgemetric="3" threshold="5" fileid="-1" sortorder="0" imagemarkup="" image="~/DesktopModules/activeforums/images/badges/HelpfulReplier.png" />
    <badge badgeid="-1" name="Most Liked" description="Congrats, your posts are really liked!" intervaldays="90" onetimeaward="0" badgemetric="4" threshold="20" fileid="-1" sortorder="100" imagemarkup="" image="~/DesktopModules/activeforums/images/badges/MostLiked.png" />
    <badge badgeid="-1" name="Engaged Reader" description="You are an engaged reader!" intervaldays="30" onetimeaward="0" badgemetric="5" threshold="10" fileid="-1" sortorder="40" imagemarkup="" image="~/DesktopModules/activeforums/images/badges/EngagedReader.png" />
    <badge badgeid="-1" name="Avid Reader" description="Avid Reader art thou!" intervaldays="90" onetimeaward="0" badgemetric="5" threshold="60" fileid="-1" sortorder="50" imagemarkup="" image="~/DesktopModules/activeforums/images/badges/AvidReader.png" />
    <badge badgeid="-1" name="MVP" description="You're an MVP!" intervaldays="0" onetimeaward="1" badgemetric="0" threshold="0" fileid="-1" sortorder="0" imagemarkup="" image="~/DesktopModules/activeforums/images/badges/MVP.png" />
    <badge badgeid="-1" name="Lifesaver" description="You're Life Saver!" intervaldays="0" onetimeaward="1" badgemetric="0" threshold="0" fileid="-1" sortorder="0" imagemarkup="" image="~/DesktopModules/activeforums/images/badges/LifeSaver.png" />
    <badge badgeid="-1" name="Dedicated User" description="You are very dedicated!" intervaldays="0" onetimeaward="1" badgemetric="0" threshold="0" fileid="-1" sortorder="0" imagemarkup="" image="~/DesktopModules/activeforums/images/badges/DedicatedUser.png" />
  </badges>
  <defaultforums>
    <groups>
      <group groupid="-1" groupname="Sample Forum Group" active="1" hidden="0" sortorder="0" allowhtml="true" prefixurl="group1" >
        <forum forumid="-1" forumname="Sample Forum 1" forumdesc="Welcome to DNN Community Forums!" active="1" hidden="0" sortorder="0" prefixurl="forum1" />
        <forum forumid="-1" forumname="Sample Forum 2" forumdesc="" active="1" hidden="0" sortorder="1" prefixurl="forum2" />
        <forum forumid="-1" forumname="Sample Forum 3" forumdesc="" active="1" hidden="0" sortorder="2" prefixurl="forum3" />
      </group>
    </groups>
  </defaultforums>
</configs>

