  .dcf-forum-view {

  	// Forum groups
  	.dcf-forums-group {

  		margin-bottom: @dist-md;
  		padding: @dist-md 0;







  		.dcf-forum-title {
  			margin: 0;
  			font-size: @title-2-size;
  		}

  		.dcf-lastpost-subject {
  			display: block;
  		}







  		// Sub Forums
  		.dcf-sub-forums {
  			.dcf-col-icon {
  				border: none;
  			}

  			.dcf-sub-forum-title {

  				font-size: @title-3-size;
  				margin: 0;
  				color: @title-color;
  			}
  		}

  	}
  }