.af-search-header{
    .af-search-title{
        font-size: @title-1-size;
    }
}

.af-search-bar {
    .af-search-title {
        #title-1-block;
        font-size: @title-1-size;
    }
}

.dcf-search-results-wrap {

    .af-search-title {
        margin-top: 1rem;
        font-size: @title-1-size;
    }
}